<nav class="navbar  my-navbar" xmlns:th="http://www.w3.org/1999/xhtml" >
    <div class="container-fluid" >
        <div class="navbar-text  navbar-header">
            <a class="navbar-brand"  style="font-size:23px" th:href="@{/admin2}">Адмін</a>
        </div>
        <ul class="nav navbar-nav" >
            <li><a class="navbar-text" th:href="@{/admin2/halls}">Зали</a></li>
            <li><a class="navbar-text" th:href="@{/admin2/genres}">Жанри</a></li>
            <li><a class="navbar-text" th:href="@{/admin2/movies}">Фільми</a></li>
            <li><a class="navbar-text" th:href="@{/admin2/sessions}">Сеанси</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}"><span
                    class="glyphicon glyphicon-log-in"></span> Вихід</a></li>
        </ul>
    </div>
</nav>