<nav class="navbar navbar-default" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/admin2}">Адмін</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/admin2}">Головна</a></li>
            <li><a th:href="@{/admin2/halls}">Зали</a></li>
            <li><a th:href="@{/admin2/genres}">Жанри</a></li>
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    Зали-->
<!--                </a>-->
<!--                <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                    <a class="dropdown-item" th:href="@{/admin2/editHalls}">Редагування залів</a>-->
<!--                    <a class="dropdown-item" th:href="@{/admin2/newHall}">Додати зал</a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a class="dropdown-item" href="#">Something else here</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li><a th:href="@{/admin2/books}">All books</a></li>-->

        </ul>
<!--        <ul class="nav navbar-nav navbar-right">-->
<!--            <li><a th:href="@{/logout}"><span-->
<!--                    class="glyphicon glyphicon-log-in"></span> Вихід</a></li>-->
<!--        </ul>-->
    </div>
</nav>