<meta charset="UTF-8">
<input type="hidden" th:name="${_csrf.parameterName}"
       th:value="${_csrf.token}" xmlns:th="http://www.w3.org/1999/xhtml"/>
<div class="form-row" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="form-group">
        <input type="hidden" class="form-control" th:field="${movie.id}"/>
    </div>
    <div class="form-group add-form-group">
        <label class="add-label" for="movieTitle">Назва фільму</label> <input type="text"
                                                         class="form-control" th:field="${movie.movieTitle}"
                                                         id="movieTitle"
                                                         placeholder="Назва фільму"/>
    </div>
    <div class="form-group add-form-group">
        <label th:if="${#fields.hasErrors('movieTitle')}" class="errorMsg add-label"
               th:errors="*{movieTitle}"></label>
    </div>
    <div class="form-group add-form-group">
        <label class="add-label" for="year">Рік випуску</label> <input type="text"
                                                          class="form-control" th:field="${movie.year}" id="year"
                                                          placeholder="Рік випуску" />
    </div>
    <div class="form-group add-form-group">
        <label th:if="${#fields.hasErrors('year')}" class="errorMsg add-label"
               th:errors="*{year}"></label>
    </div>
    <div class="form-group add-form-group">
        <label class="add-label" for="duration">Тривалість</label> <input type="text"
                                                         class="form-control" th:field="${movie.duration}" id="duration"
                                                         placeholder="тривалість у хвилинах" />
    </div>
    <div class="form-group add-form-group">
        <label th:if="${#fields.hasErrors('duration')}" class="errorMsg add-label"
               th:errors="*{duration}"></label>
    </div>
    <table class="table table-hover">
        <tr th:each="genre: ${genres}">
            <div class="checkbox">
                <input type="checkbox" style="margin-left: -5px" th:field="*{genresOfMovie}" th:value="${genre.id}">
                <label class= "add-label" th:text="${genre.genreTitle}"></label>
            </div>
        </tr>
    </table>

</div>

<div class="form-row"></div>