<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Spring Security Example </title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body class="loginPage-style">
<div class="loginError" th:if="${param.error}">
    Неправильно введено логін або пароль. Спробуйте ще раз.
</div>
<div th:if="${param.logout}">
    Ви вийшли з режиму адміністратора.
</div>
<form th:action="@{/login}" method="post">
    <div class="loginCentre"><label> Логін : <input type="text" name="username"/> </label></div>
    <div class="passCentre"><label> Пароль: <input type="password" name="password"/> </label></div>
    <div class="passCentre"><input type="submit" value="Увійти" /></div>
</form>
</body>
</html>