<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="cinema/headerImports"></div>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>All Movies Page</title>
</head>
<body class="moviesPage-style">
<div th:replace="cinema/navbar"></div>
<div class="container" >

    <div class="container">
        <div>
            <h1 class="h13">Список доступних фільмів у нашому кінотеатрі</h1>
        </div>
    </div>

    <table class="table movies-table"  >
        <tr>
            <th class="moviesTh">Назва</th>
            <th class="moviesTh">Рік випуску</th>
            <th class="moviesTh">Тривалість(хв)</th>
            <th class="moviesTh">Жанри</th>
        </tr>
        <tr th:each="movie : ${movies}">
            <td class="moviesTd" th:text="${movie.movieTitle}"></td>
            <td class="moviesTd" th:text="${movie.year}"></td>
            <td class="moviesTd" th:text="${movie.duration}"></td>
            <td class="moviesTd">
                <ul th:each="genre : ${movie.genresOfMovie}">
                    <li th:text="${genre.genreTitle}"></li>
                </ul>
            </td>
        </tr>
    </table>
</div>
</body>
</html>